[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-ollama = "*"
dotenv = "*"
langchain-tavily = "*"
langchain-community = "*"
tavily-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
